<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/create_login_account.css">
</head>

<body class="d-flex">
    <main>
        <h1>Create a NoChat Account</h1>
        <form action="" id="account-form" class="d-flex">
            <label for="name">
                <h3>Email:</h3>
                <input type="text" id="email" placeholder="Use a valid email" name="email" required>
            </label>

            <label for="username">
                <h3>Username:</h3>
                <input id="username" placeholder="Select a unique username" name="username" required>
            </label>

            <label for="password">
                <h3>Password:</h3>
                <input id="password" name="password" autocapitalize="off" required>
            </label>

            <label for="phoneNumber">
                <h3>Phone Number:</h3>
                <input id="phoneNumber" placeholder="Optional" name="phoneNumber">
            </label>

            <div class="buttons d-flex"><button type="submit" id="submit">Submit</button></div>
        </form>
    </main>
    <script>
        const create = document.querySelector('#account-form');
        create.addEventListener('submit', async (e) => {
            e.stopImmediatePropagation();
            e.preventDefault();
            const email = document.getElementById('email').value;
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
            const phoneNumber = document.getElementById('phoneNumber').value;
            try {
                const response = await fetch('/create-account', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email,
                        username,
                        password,
                        phoneNumber
                    })
                });

                const data = await response.json();
                //console.log(data);
                alert(`${JSON.stringify(data)}`);
                // If created successfully, redirect to the login page
                if (response.status == 200) {
                    setTimeout(async () => {
                        window.location.href = '/public/login-page';
                    }, 1000 * 1); // Return to the login page after 2 seconds
                }
            } catch (err) {
                console.log('An error occured:', err.message);
            }
        });
    </script>
</body>

</html>