<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/create_login_account.css">
</head>

<body class="d-flex">
    <main>
        <h1>Oops, <%= error %>!</h1>
        <p>You could go back to try again, but there's a chance that you may just need to login again</p>
        <div class="buttons"><button type="button" id="login">Login page</button></div>
    </main>

    <script>
        const create = document.querySelector('#login');
        create.addEventListener('click', async (e) => {
            console.log('Running logout')
            const response = await fetch('/disconnect', {
                method: 'GET',
                credentials: 'include' // Include cookies with the request
            });
            console.log(response);
            if (response.ok) {
                console.log('Logged user out first')
            }
            window.location.href = '/public/login-page.html'; // Optionally redirect after logout
        });
    </script>
</body>

</html>