<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/login-page.css">
</head>
<body>
    <h1>Welcome to NoChat </h1>
    <p>Log in to your account</p>
    <form action="/login" method="POST">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input id="password" placeholder="" name="password" required></input>
        <br><br>
        <div class="buttons">
            <button type="submit">Submit</button>
            <button type="button" id='create'>I dont have an account</button>
        </div>
    </form>
</body>
<script>
    // If the create-account button is created, redirect the page
    const create = document.querySelector('#create');
    create.addEventListener('click', e => {
        //e.stopPropagation();
        window.location.href = '/create-account.html';
    })
</script>
</html>