<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/profile-page.css">
</head>
<body>
    <h1>Welcome, <%= user.username %>!</h1>
    <p>You have successfully logged in</p>
    <p>Your email: <%= user.email %></p>
    <form action="/user/search" method="GET">
        <input type="text" id="search" placeholder="Search for username" name="search" required>
        <button type="submit">Search</button>
    </form>
    <div id="search-results">
        <% if (results) { %>
            <ul>
                <% results.forEach(result => { %>
                    <% if (result.badMatch) { %>
                        <li> <%= result.username %> </li>
                    <% } else { %>
                        <li>
                            <a href="/user/<%= result.username %>"><%= result.username %></a>
                        </li>
                    <% } %>
                <% }) %>
            </ul>
        <% } %>
    </div>

    <button type="button" id="logout">Logout</button>
    <!--<button type="button" id="chat">Chat</button>-->

    <script>
        const create = document.querySelector('#logout');
        create.addEventListener('click', async (e) => {
            console.log('Running logout')
            const response = await fetch('/disconnect', {
                method: 'GET',
                credentials: 'include' // Include cookies with the request
            });
            console.log(response);
            setTimeout(() => {
                if (response.ok) {
                    alert('Logging out...');
                    window.location.href = '/public/login-page.html'; // Optionally redirect after logout
                }
            }, 1000 * 1); // Log out after 2 seconds
        });
    </script>
</body>
</html>
