<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="../static/create_login_account.css">
</head>
<!--Will only be passing the main user object to this-->
<body>
    <header>
        <h1>Welcome, <%= user.username %>!</h1>
        <p>You have successfully logged in</p>
        <p>Your email: <%= user.email %>
        </p>
    </header>
    <form action="/user/search" method="GET">
        <input type="text" id="search" placeholder="Search for username" name="search" required>
        <button type="submit">Search</button>
        <!--<p>Your conversations: <%= user.conversations %></p>-->
        <div id="search-results">
            <!--Please note that good indentation is neccesary to stop EJS code from
                looking too pushed forward, and help the readability of the data structure-->
            <% if (results.length !== 0) { %>
                <ul id="searchList">
                    <p>Search results:</p>
                    <% results.forEach(result=> { %>
                        <% if (result.badMatch) { %>
                            <li>
                                <%= result.username %>
                            </li>
                        <% } else if (user.username !== result.username) { %>
                            <li>
                                <a href="/user/<%= result.username %>">
                                    <%= result.username %>
                                </a>
                            </li>
                        <% } %>
                    <% }) %>
                </ul>
            <% } %>
            <!--The curly braces have to end in exactly the right place,
            otherwise, i didn't change much-->
        </div>

        <div>
            <% if (user.conversations) { %>
                <ul id="conversationList">
                    <p>Chat:</p>
                    <% user.conversations.forEach(username=> { %>
                        <li>
                            <a href="/user/<%= username %>">
                                <%= username %>
                            </a>
                        </li>
                    <% }) %>
                </ul>
            <% } else if (user.username !== 'Void') { %>
                <p>You haven't texted anyone yet. You can start with</p>
                <li>
                    <a href="/user/Void">Void</a>
                </li>
            <% } %>
        </div>
    </form>
                    <!--<button onclick="getLocation()">Get My Location</button>
                        <p id="location"></p>
        <button onclick="reloadPage()">Try Again</button>-->


    <button type="button" id="logout">Logout</button>

    <script src="/scripts/profile-page.js"></script>
</body>

</html>