<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Another User Profile</title>
    <link rel="stylesheet" href="/static/user-page.css">
</head>
<body>
    <h1>This is <%= user.username %>!</h1>
    <p>You have successfully viewed their profile</p>
    <p>Their email: <%= user.email %></p>

    <a href="/chat/<%= user.username %>" class="button-link">Chat</a>


    <!--<script>
        const create = document.querySelector('#chat');
        create.addEventListener('click', async (e) => {
            console.log('Running logout')
            const response = await fetch('/disconnect', {
                method: 'GET',
                credentials: 'include' // Include cookies with the request
            });
            console.log(response);
            setInterval(async () => {
                if (response.ok) {
                    alert('Logging out...');
                    window.location.href = '/login-page.html'; // Optionally redirect after logout
                }
            }, 1000 * 1); // Log out after 2 seconds
        });
    </script>-->
</body>
</html>
