<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Another User Profile</title>
    <link rel="stylesheet" href="/static/user-page.css">
</head>
<body>
    <!--Only this users object will be passed here.
        Retrieve whatever data you may need from it-->
    <h1><%= user.username %> is <%= user.status%>!</h1>
    <p>You have successfully viewed their profile</p>
    <p>Their email: ***** </p>

    <a href="/chat/<%= user.username %>" class="button-link">Chat</a>
</body>
</html>
