:root {
  --Purple100: hsl(322, 84%, 42%);
  --Purple500: hsl(256, 67%, 59%);
  --Yellow100: #1fb01f;
  --Yellow500: hsl(39, 100%, 71%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Oufit";
  src: url("../assets/fonts/Outfit/Outfit-VariableFont_wght.ttf")
    format(truetype);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
body {
  min-height: 100vh;
  min-height: 100svh;
  justify-content: center;
  font-size: 1.125rem;
  padding: 1rem 5%;
  overflow: hidden;
  position: relative;
  /* filter: blur(1px); */
  background-color: var(--Black);
}
main {
  width: clamp(35rem, calc(100% - 40px), 40rem);
  min-height: 25rem;
  flex-direction: column;
  border-radius: 2rem;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  padding: 1rem;
  color: var(--White);
  z-index: 100;
  background-color: var(--Black);
}
h1 {
  color: linear-gradient(var(--Yellow100), var(--Yellow500));
}
.d-flex {
  display: flex;
  align-items: center;
  align-content: center;
}
button {
  border-radius: 1rem;
  width: fit-content;
  background-color: var(--Purple500);
  color: var(--White);
  cursor: pointer;
  border: none;
  outline: none;
  padding: 1rem 4rem;
  transition: 1s;
  animation: visit 0.75s infinite linear;
}
main:hover button {
  animation: unset;
}
button:hover {
  transform: scale(1.25);
}
i {
  position: absolute;
  top: 0;
  height: 100px;
  border-radius: 0 0 5px 5px;
  animation: animate 1s linear infinite;
}
i:nth-child(3n + 1) {
  background: linear-gradient(transparent, var(--Purple500));
}
i:nth-child(3n + 2) {
  background: linear-gradient(transparent, var(--Purple100));
}
i:nth-child(3n + 3) {
  background: linear-gradient(transparent, var(--Yellow100));
}
@keyframes animate {
  0% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(calc(100vh + 150px));
  }
}
@keyframes visit {
  0% {
    transform: rotate(-15deg) scale(1);
  }
  50% {
    transform: rotate(15deg) scale(1.05);
  }
}
@media (max-width: 36rem) {
  main {
    width: 100%;
  }
  i {
    height: 50px;
  }
}
